     <!-- Example row of columns -->
<div ng-repeat="service in services">
<div class="row">
   <div class="col-lg-12">
     <h2>{{service.name}}</h2>
        <div class="row services">
           <div class="col-md-2">
            <img src="/img/greenLeaf.jpg">   
           </div>
            <div class="col-md-10">
            <h3>DEV</h3>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed ullamcorper nunc. Quisque vitae interdum eros. Vestibulum et ipsum  augue, ut scelerisque orci finibus a.</p>
    <a href="contact.html" class="btn btn-primary">Contact Us</a>
            </div>

        </div>
    </div>
</div>

</div>